<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VIDEOwnloader.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="VideoServiceClientEndpoint" value="http://localhost:5000/" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <userSettings>
    <VIDEOwnloader.Properties.Settings>
      <setting name="DownloadListXml" serializeAs="String">
        <value />
      </setting>
      <setting name="CompletedListXml" serializeAs="String">
        <value />
      </setting>
    </VIDEOwnloader.Properties.Settings>
  </userSettings>
</configuration>